name: job2.yml
on:
  workflow_call:
    inputs:
      gzip-env-value:
        required: true
        type: string
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        
      - run: |
          if [ -z "${{ inputs.gzip-env-value }}" ]; then
            echo "gzip-env-value is empty"
          else
            echo "${{ inputs.gzip-env-value }}"
          fi
          
          if [ -z "${{ github.event.inputs.gzip-env-value }}" ]; then
            echo "github.event.inputs gzip-env-value is empty"
          else
            echo "${{ github.event.inputs.gzip-env-value }}"
          fi

      - name: Gzip Env Loader
        uses: luviny/gzip-env-loader@v1.0.1
        with:
          gzip-env-value: ${{ inputs.gzip-env-value }}
          env-file-name: .env.test
          load-env: true
          
      - name: Run Test1
        run: |
          echo ${{ env.DB_HOST }}
          echo $DB_HOST

      - name: Run Test2
        run: cat .env.test