name: job2.yml
on:
  workflow_call:
    secrets:
      gzip-env-value:
        required: true
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        
      - run: echo ${{ secrets.gzip-env-value }}

      - name: Gzip Env Loader
        uses: luviny/gzip-env-loader@v1.0.1
        with:
          gzip-env-value: ${{ secrets.gzip-env-value }}
          env-file-name: .env.test
          load-env: true
          
      - name: Run Test1
        run: |
          echo ${{ env.DB_HOST }}
          echo $DB_HOST

      - name: Run Test2
        run: cat .env.test