name: main.yml
on:
  push:

permissions:
  id-token: write
  contents: read

jobs:
  job1:
    uses: luviny/env-loader-test/.github/workflows/job1.yml@main
    
  job2:
    uses: luviny/env-loader-test/.github/workflows/job2.yml@main
    needs: job1
    secrets:
      gzip-env-value: ${{ needs.job1.outputs.gzip-env-value }} 
